body {
font-family: 'Arial', sans-serif;
margin: 0;
padding: 0;
background-color:RoyalBlue;
max-width: auto;
}
header {
display: flex;
color: white;
padding: 30px 50px;
align-items: center;
justify-content: space-between;
}
.container1 h1 {
font-size: 65px;
margin: 0;
}
nav {
font-size: 17px;
}
nav a {
color: black;
text-decoration: none;
padding: 10px 15px;
transition: background-color 0.3s;
}
nav a:hover {
background-color: #008cba;
}
.container1 {
display: flex;
align-items: center;
column-gap: 350px;
padding: 50px;
}
img{
margin-left: 30px;
width: 100px;
height: 100px;
}
.container1 section {
width: 800px;
}
.container2 h2{
text-align: center;
}
section h2 {
font-weight: bold;
color: black;
margin: 0 ;
}
.about, .courses, .register, .quotes {
display: flex;
flex-direction: column;
justify-content: space-between;
}
.courses ul {
list-style-type: circle;
padding: 0;
}
.courses li {
margin: 5px 0;
padding: 5px;
}
form {
justify-content: center;
display: flex;
width: 500px;
flex-direction: column;
margin-left: 35%;
}
form label {
font-weight: bold;
margin-bottom: 5px;
}
form input, form select {
padding: 10px;
margin-bottom: 15px;
border-radius: 5px;
border: 1px solid #ccc;
font-size: 1em;
}
.register-btn {
background-color: #008cba;
color: white;
border: none;
padding: 10px;
cursor: pointer;
font-size: 1.1em;
transition: background-color 0.3s;
}
.register-btn:hover {
background-color: #005f6b;
}
.quotes {
font-style: italic;
color: #555;
text-align: center;
}
.quotes h2{
margin-top: 15px;
}
footer {
text-align: center;
background-color: #005f6b;
color: white;
padding: 20px;
grid-column: 1 / -1;
}
@media (max-width: 768px) {
header h1 {
font-size: 2em;
}
.container {
padding: 10px;
gap: 10px;
}
nav {
flex-direction: column;
}
nav a {
margin: 5px 0;
}
}